/*FONTS*/
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Odibee+Sans&display=swap");
/*STYLES*/
body {
  background-image: url("../img/background6.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
  max-height: 1080px;
  overflow: hidden; }

* {
  box-sizing: border-box;
  font-family: "Odibee Sans", cursive; }

img {
  z-index: -1; }

p, strong {
  font-size: 20pt;
  font-family: "Odibee Sans", cursive; }

h1 {
  font-size: 30pt; }

/*Top bar things*/
#topBar {
  background-color: white;
  height: 30px;
  font-size: 16pt;
  padding-top: 5px; }

.bar {
  line-height: 25px; }

#usrID {
  padding-left: 10px; }

#netIcon {
  float: right;
  height: 22px;
  padding-right: 10px; }

#time {
  float: right;
  padding-left: 10px;
  padding-right: 10px; }

#date {
  float: right; }

/*Top bar things*/
#topBar {
  background-color: white;
  height: 30px;
  font-size: 16pt;
  padding-top: 5px; }

.bar {
  line-height: 25px; }

#usrID {
  padding-left: 10px; }

#netIcon {
  float: right;
  height: 22px;
  padding-right: 10px; }

#time {
  float: right;
  padding-left: 10px;
  padding-right: 10px; }

#date {
  float: right; }

/*Icon things*/
.iconText {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 16pt;
  font-weight: bold; }

.icon {
  position: absolute;
  z-index: -1;
  text-align: center; }

.iconImg {
  padding-bottom: 0;
  margin-bottom: 0;
  height: 60px; }

/*Window things*/
.banner {
  padding-left: 9px;
  font-size: 15pt; }

.dot {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
  cursor: auto; }

.windowHeader {
  padding: 8px;
  background: darkgray;
  cursor: move;
  overflow: hidden; }

#termWindowBody {
  padding: 10px;
  background-color: black;
  font-size: 30pt;
  --color: lightblue;
  --background: black;
  --size: 1.2; }

.content {
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 20pt;
  overflow: auto; }

.window {
  position: absolute;
  display: block;
  border: 6px solid darkgray;
  box-shadow: 6px 6px 15px; }

.banner {
  padding-left: 9px;
  font-size: 15pt; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */ }

/*Chat things*/
#chatBox {
  position: absolute;
  background-color: white;
  right: 40px;
  bottom: 0;
  width: 330px;
  height: 500px;
  box-shadow: 6px 6px 15px; }

#chatTop {
  background-color: darkgray;
  height: 40px; }

#chatTopText {
  font-size: 23pt;
  line-height: 45px;
  padding-left: 20px; }

#chatBody {
  height: 360px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll; }

#chatBottom {
  height: 100px;
  background-color: darkgray;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap; }

.chatOption {
  background-color: black;
  margin-top: 10px;
  width: 45%;
  height: 80px;
  color: white;
  text-align: center; }

.techMessage {
  color: black;
  height: auto;
  width: auto;
  max-width: 70%;
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
  background-color: gray;
  margin-left: 60px; }

.stationMessage {
  color: black;
  height: auto;
  width: auto;
  max-width: 70%;
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  background-color: cyan; }

.message p {
  font-size: 15pt; }

/*IMPORTED*/
@keyframes flicker {
  0% {
    opacity: 0.27861; }
  5% {
    opacity: 0.34769; }
  10% {
    opacity: 0.23604; }
  15% {
    opacity: 0.90626; }
  20% {
    opacity: 0.18128; }
  25% {
    opacity: 0.83891; }
  30% {
    opacity: 0.65583; }
  35% {
    opacity: 0.67807; }
  40% {
    opacity: 0.26559; }
  45% {
    opacity: 0.84693; }
  50% {
    opacity: 0.96019; }
  55% {
    opacity: 0.08594; }
  60% {
    opacity: 0.20313; }
  65% {
    opacity: 0.71988; }
  70% {
    opacity: 0.53455; }
  75% {
    opacity: 0.37288; }
  80% {
    opacity: 0.71428; }
  85% {
    opacity: 0.70419; }
  90% {
    opacity: 0.7003; }
  95% {
    opacity: 0.36108; }
  100% {
    opacity: 0.24387; } }

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite; }

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none; }

.crt {
  animation: textShadow 1.6s infinite; }
