/*Top bar things*/
#topBar {
  background-color: white;
  height: 30px;
  font-size: 16pt;
  padding-top: 5px;
}

.bar {
  line-height: 25px;
}

#usrID {
  padding-left: 10px;
}

#netIcon {
  float: right;
  height: 22px;
  padding-right: 10px;
  ;
}

#time {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

#date {
  float: right;
}
