/*Icon things*/
.iconText {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 16pt;
  font-weight: bold;
}

.icon {
  position: absolute;
  z-index: -1;
  text-align: center;
}

.iconImg {
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 60px;
}
