/*Window things*/

.banner {
  padding-left: 9px;
  font-size: 15pt;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
  cursor: auto;
}

.windowHeader {
  padding: 8px;
  background: darkgray;
  cursor: move;
  overflow: hidden;
}

#termWindowBody {
  padding: 10px;
  background-color: black;
  font-size: 30pt;
  --color: lightblue;
  --background: black;
  --size: 1.2;
}

.content {
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 20pt;
  overflow: auto;
}

.window {
  position: absolute;
  display: block;
  border: 5px solid darkgray;
  box-shadow: 6px 6px 15px;
}

.banner {
  padding-left: 9px;
  font-size: 15pt;
}
