/*Window things*/
.dot {
  height: 12px;
  width: 12px;
  background-color: gray;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
  cursor: auto;
}

.top {
  padding: 8px;
  background: white;
}

.content {
  padding: 10px;
  background-color: black;
  height: 400px;
  width: 650px;
  font-size: 30pt;
}

#termWindow {
  position: absolute;
  display: block;
  border: 3px solid white;
  box-shadow: 6px 6px 15px;
  left: 300px;
  top: 130px;
}

#banner {
  padding-left: 9px;
  font-size: 15pt;
}

#termWindowHeader{
  cursor: move;
}

.terminal {
  --color: cyan;
  --background: black;
  --size: 1.2;
}
